.welcome-card-text {
    position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

.welcome-card-title {
    line-height: 1.1;
}

.welcome-card-subtitle {

}

.email-form {
    display: flex;
    flex-direction: column;
}

.field-group {
    padding: 0;
    margin: 0;
    list-style: none;
}

.field-group > li {
    margin: 0;
}

.nfInput {
    max-width: 500px;
    position: relative;
}

.email-form-lockup .nfInput {
    margin: 10px auto;
}

.nfInput .nfInputPlacement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    background: #fff;
    padding: 10px 15px;
    height: 54px;
}

.nfTextField {
    box-sizing: border-box;
    font-size: 16px;
    display: block;
    appearance: none;
    width: 100%;
    color: #000;
    line-height: normal;
    border: none;
    background: none;
}

.nfTextField:invalid, .nfTextField:valid {
    box-shadow: none;
}

.nfInput .nfTextField {
    width: 100%;
}

.nfInput .placeLabel {
    line-height: 1;
    color: #8c8c8c;
    font-size: 9px;
    margin-bottom: 2px;
    transition: font .1s ease,top .1s ease,transform .1s ease,-webkit-transform .1s ease,-moz-transform .1s ease,-o-transform .1s ease;
}

.chevron-right-arrow:before {
    font-family: FontAwesome;
    content: "\f054";
    font-size: 1em;
}

#logo a {
    display: block;
    padding: 5px
}

#logo img {
    display: block;
    max-height: 70px;
}

.portfolio-intro {
    float: none;
    margin-bottom: 32px;
}
